<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>I am a software developer and student of Systems Analysis at the Instituto de Estudios Superiores de Buenos Aires. My knowledge is mostly devoted to the area of ​​web development using technologies such as ReactJS, Javascript, HTML5, CSS, NodeJs and MongoDB. I also have knowledge in areas such as data structure, computer architecture, programming logic, writing and interpreting pseudocode, and C++ programming thanks to my tertiary studies.</p>
    </div>
</div>