<div class="jumbotron mt-4 p-4" style="background-color:#fff">
    <h1 class="display-4">App Note with Node Js and MongoDb</h1>
    <p class="lead">This application was developed with NodeJS, Express and using the MongoDB database. </p>
    <hr class="my-4"/>
    <p>It is a project that was developed with the aim of consolidating and showing my knowledge in the use of these technologies.
Here you can register as users and log in to create, edit, delete notes. Without further ado, I invite you to browse and I leave a link to my portfolio below.
    </p>
    <a href="https://lucagiallonardi.github.io/" class="btn btn-primary btn-lg">My Portfolio</a>
</div>